{% extends 'layout.html.twig' %}
{% block content%}
    <div class="container">
        <div class="row pt-5 aboutUs">
            <p>AlphaSeries est un site web réalisé par des passionnés, pour des passionnés, afin de faciliter la gestion des séries TV qui n'ont jamais été aussi nombreuses qu'aujourd'hui. Grace à AlphaSeries, vous pouvez ajouter les séries et les épisodes que vous suiviez, puis d'indiquer au fur et à mesure lesquels ont été visionnés. Vous pouvez aussi noter les épisodes pour retrouver en quelques clics, le prochain épisode à voir de votre série préférée ! </p>
        </div>
    </div>

{% endblock %}