{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img class="img-fluid logoalpha" src="/assets/images/ecran_alpha.png" alt="logo alpha séries">
            </div>
            <div class="col-md-12">
                <h1 class="p-4"> AlphaSeries : gérer vos séries n'a jamais été aussi facile !</h1>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-7 p-3 mx-auto">
                <form method="GET" action ="/searchResult" class="input-group">
                    <input class="form-control searchengine" type="search" name="search" value="" placeholder="Votre recherche">
                </form>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12">
            <h2 class="text-center pb-5 mt-5">Mes trois dernières séries ajoutées</h2>
        </div>
        {% for serie in series %}
            <div class="col-md-3 col-sm-6 pl-4 pb-5 mx-auto">
                <figure class="card card-body mx-auto">
                    <a href="/pageSerie/{{ serie.id }}"><h2 class="card-title text-center">{{ serie.title | title }}</h2></a>
                    {% if serie.link_picture is null %}
                        <img class="img-fluid mx-auto" src="/assets/upload/defaultPicture.png">
                    {% else %}
                        <img class="img-fluid mx-auto" src="/assets/upload/{{ serie.link_picture }}">
                    {% endif %}
                </figure>
            </div>
        {% endfor %}
    </div>
    <div class="row pt-5 aboutUs mx-auto" id="about-us">
        <div class="col-md-12 text-center">
            <p>AlphaSeries est un site web réalisé par des passionnés, pour des passionnés, afin de faciliter la gestion des séries TV qui n'ont jamais été aussi nombreuses qu'aujourd'hui. Grace à AlphaSeries, vous pouvez ajouter les séries et les épisodes que vous suiviez, puis d'indiquer au fur et à mesure lesquels ont été visionnés. Vous pouvez aussi noter les épisodes pour retrouver en quelques clics, le prochain épisode à voir de votre série préférée ! </p>
        </div>
    </div>
{% endblock %}



