<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bgc fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent"
                aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navBarContent">
            <ul class="nav nav-pills nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link navlink" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navlink" href="/list/1">Séries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navlink" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navlink" href="#">A Propos</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}
{% block search_bar %}{% endblock %}

{% block footer %}
    <footer id="footer" class="container-fluid p-0 mt-5">
        <nav class="navbar navbar-expand-sm bgc navbar-dark footer">
            <div class="collapse navbar-collapse justify-content-center d-flex flex-row">
                <ul class="navbar-nav mr-2">
                    <li class="nav-item text-nowrap"><a class="nav-link navlink-footer" href="/">Accueil</a></li>
                    <li class="nav-item text-nowrap"><a class="nav-link navlink-footer" href="/list/1">Séries</a></li>
                    <li class="nav-item text-nowrap"><a class="nav-link navlink-footer" href="#">Admin</a></li>
                </ul>
                <ul class="navbar-nav ml-2">
                    <li class="nav-item text-nowrap"><a class="nav-link navlink-footer" href="#">A propos</a></li>
                    <li class="nav-item text-nowrap"><a class="nav-link navlink-footer" href="#">Mentions légales</a></li>
                    <li class="nav-item text-nowrap"><a class="nav-link navlink-footer" href="#">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </nav>
    </footer>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% block javascript %}{% endblock %}

</body>

</html>
