<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
{% block content %}{% endblock %}
{% block footer %}
    <footer id="footer" class=" mt-5">
        <nav class="navbar navbar-expand-sm bg-black navbar-dark footer d-flex flex-row">
            <div class="collapse navbar-collapse justify-content-center d-flex flex-row">
                <ul class="navbar-nav mr-5">
                    <li class="nav-item text-nowrap"><a class="nav-link" href="#">Accueil</a></li>
                    <li class="nav-item text-nowrap"><a class="nav-link" href="#">Séries</a></li>
                    <li class="nav-item text-nowrap"><a class="nav-link" href="#">Admin</a></li>
                    <li class="nav-item text-nowrap"><a class="nav-link" href="#">A propos</a></li>
                </ul>
                <ul class="navbar-nav ml-5">
                    <li class="nav-item text-nowrap"><a class="nav-link" href="#">Mentions légals</a></li>
                    <li class="nav-item text-nowrap"><a class="nav-link" href="#">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </nav>
    </footer>
{% endblock %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% block javascript %}{% endblock %}
</html>