<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>

{% block navbar %}
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bgc fixed-top ">
    <div class="container">
        <ul class="nav nav-pills nav-fill mx-auto w-100">
            <li class="nav-item">
                <a class="nav-link navlink" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="/list">Séries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="#">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="#">A Propos</a>
            </li>
        </ul>
    </div>
</nav>
    </header>
{% endblock %}

{% block content %}{% endblock %}

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% block javascript %}{% endblock %}
</html>
