@font-face {
    font-family: 'tex_gyre_adventorregular';
    src: url('fonts/texgyreadventor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {

    margin-top: 70px;
    background-image: url("../images/bg.jpg");
    color: white;
    font-family: 'tex_gyre_adventorregular';

}

.ast {
    color: #ff0000;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: none;
    color: white;
}

a:after {
    display: block;
    content: '';
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

a:hover:after {
    transform: scaleX(1);
}

a.add-link:after {
    display: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: transparent;
    color: antiquewhite;
}

.row {
    margin: 0;
    padding: 0;
}

.card p {
    font-size: calc(10px + 10 * (100vw - 400px) / 1200);
}

.card h2 {
    font-size: calc(19px + 14 * (100vw - 400px) / 1200);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    width: 340px;
    max-height: 454px;
}

h1 {
    color: antiquewhite;
    text-align: center;
    font-size: calc(20px + 15 * (100vw - 400px) / 1200);
}

h2 {
    font-size: calc(19px + 14 * (100vw - 400px) / 1200);
}

.vignette {
    margin-left: 12vw;
}

.broadcast {
    margin-left: 9vw;
}

/**********Footer**********/
.footer {
    font-size: calc(15px + 8 * (100vw - 400px) / 1200);

}

.navlink-footer:hover {

    color: white;
}

/**********Navbar**********/
.navlink {
    color: white;
    display: inline-block;

}

.navlink:hover {

    color: white;
}

.navlink:after {
    display: block;
    content: '';
    border-bottom: 2px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navlink:hover:after {
    transform: scaleX(1);

}

.bgc {
    background-color: black;
    opacity: 0.9;

}

.logoalpha {
    width: 44vw;
    height: auto;
    max-height: 500px;

}

.header {
    font-size: calc(9px + 9 * (100vw - 400px) / 1200);
}

/****searchbar*****/
.form-control.searchengine {
    border-radius: 50px 50px 50px 50px;
    min-width: 50%;
}

.aboutUs {
    font-size: 20px;
}

textarea#synopsis {
    height: 35vh;
    width: 25vw;
}

.stylecard{
    padding: 30px;
    transition: transform .5s;
    width: 240px;
    height: 350px;
    margin: 0 auto;

}

.stylecard:hover{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -transform: scale(1.3);
}

a.linkcard:after{
    text-decoration: none;
    display: none;

}