@font-face {
    font-family: 'tex_gyre_adventorregular';
    src: url('fonts/texgyreadventor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    
    margin-top: 70px;
    background-image: url("../images/bg.jpg");
    color: white;
    font-family: 'tex_gyre_adventorregular';

}

.ast {
     color: #ff0000;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: none;
    color: white;
}

a:after {
    display: block;
    content: '';
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

a:hover:after {
    transform: scaleX(1);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: transparent;
    color: antiquewhite;
}
.row {
    margin:0;
    padding:0;
}

.card p {
    font-size: calc(10px + 10 * (100vw - 400px) / 1200);
}

.card h2 {
    font-size: calc(19px + 14 * (100vw - 400px) / 1200);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img{
    width: 340px;
    max-height: 454px;
}

h1 {
    color: antiquewhite;
    text-align: center;
    font-size: calc(20px + 15 * (100vw - 400px) / 1200);
}

h2 {
    font-size: calc(19px + 14 * (100vw - 400px) / 1200);
}

.vignette{
    margin-left: 12vw;
}

.broadcast{
    margin-left: 9vw;
}

/**********Footer**********/
.footer {
    font-size: calc(13px + 8 * (100vw - 400px) / 1200);

}
.navlink-footer:hover {

    color: white;
}


/**********Navbar**********/
.navlink {
    color: white;
    display: inline-block;

}
.navlink:hover {

    color: white;
}

.navlink:after {
    display: block;
    content: '';
    border-bottom: 2px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navlink:hover:after {
    transform: scaleX(1);

}

.bgc {
    background-color: black;
    opacity: 0.9;

}


.navbar{
    font-size: calc(9px + 9 * (100vw - 400px) / 1200);
}

/****searchbar*****/
.form-control.searchengine {
    border-radius:50px 50px 50px 50px;
    min-width: 50%;
}
