{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="mt-5 pt-5">Ajout des épisodes</h1>
    <div class="row pt-5">
        {% for serie in series %}
            <div class="col-md-3 col-sm-6 pl-4 pb-5">
                <div class="card card-body mx-auto">
                    <h2 class="card-title text-center">{{ serie.title | title }}</h2>
                    {% if serie.link_picture is null %}
                        <img class="img-fluid mx-auto" src="/assets/upload/defaultPicture.jpg">
                    {% else %}
                        <img class="img-fluid mx-auto" src="/assets/upload/{{ serie.link_picture }}">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
