{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Cette vue n'est pas affichée</h1>
    <form action="" method="post">
        <input type="hidden" name="serieId" id="serieId" value="{{ id }}">
        <input type="submit" id="delete" name="delete" class="btn btn-outline-danger" value="Supprimer">
    </form>

{% endblock content %}