{% for episode in episodes %}
      <li class="list-group-item bgt">
          <label class="switch">
              <input type="checkbox" id="switch">
              <span class="slider round"></span>
          </label >
          {% if episode.number < 10 %}
            E0{{ episode.number }}   {{ episode.title }}
          {% else %}
            E{{ episode.number }}   {{ episode.title }}
          {% endif %}
      </li>
 {% endfor %}
