{% for episode in episodes %}
    {% if episode.number < 10 %}
      <li class="list-group-item bgc">
          <label class="switch">
              <input type="checkbox" id="switch">
              <span class="slider round"></span>
          </label >
          E0{{ episode.number }}   {{ episode.title }}
      </li>
    {% else %}
      <li class="list-group-item bgc">
          <label class="switch">
              <input type="checkbox" id="switch">
              <span class="slider round"></span>
          </label >
          E{{ episode.number }}   {{ episode.title }}
      </li>
    {% endif %}
 {% endfor %}