{% for episode in episodes %}
    {% if episode.number < 10 %}
        <li class="list-group-item bgc">E0{{ episode.number }}   {{ episode.title }}</li>
    {% else %}
        <li class="list-group-item bgc">E{{ episode.number }}   {{ episode.title }}</li>
    {% endif %}
{% endfor %}