<div class="d-inline-flex">
    <input type="checkbox" id="checkAll" onclick="toggle(this);">
    <p class="mt-3 mb-0 ml-1">Tous vus</p>
</div>
{% for episode in episodes %}
    <li class="list-group-item bgt">
        <label class="switch">
            <input type="checkbox" class="toggles" id="{{ episode.id }}" name="hasSeen" {% if episode.hasSeen == 0 %}checked{% endif %} onclick="processForm(this)">
            <span class="slider round"></span>
        </label >
        {{ "E%02d" | format (episode.number) }} - {{ episode.title }}
    </li>
{% endfor %}
