{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row pt-5">
    {% for serie in series %}
        <div class="col-md-3 col-sm-6 pl-4 pb-5">
            <div class="card card-body mx-auto">
                <h4 class="card-title text-center">{{ serie.title | title }}</h4>
                <img class="img-fluid" src="http://via.placeholder.com/200x300">
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
