{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="mt-5 pt-5">Liste des Séries</h1>
    <div class="container ">
        <div class="row">
            <div class="col-7 mx-auto">
                <form method="GET" action ="/list/searchResult" class="input-group">
                    <input class="form-control searchengine" type="text" name="search" value="" placeholder="Votre recherche">
                </form>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        {% for serie in series %}
            <div class="col-md-3 col-sm-6 pl-4 pb-5">
                <div class="card card-body mx-auto">
                    <h2 class="card-title text-center">{{ serie.title | title }}</h2>
                    <img class="img-fluid" src="http://via.placeholder.com/200x300">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
