{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="mt-5 pt-5">Liste des Séries</h1>
    <div class="row pt-5">
        {% for serie in series %}
            <div class="col-md-3 col-sm-6 pl-4 pb-5">
                <a href="/pageSerie/{{ serie.id }}"><div class="card card-body mx-auto">
                    <h2 class="card-title text-center">{{ serie.title | title }}</h2>
                    <img class="img-fluid" src="http://via.placeholder.com/200x300">
                    </div></a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
