{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="mt-5 pt-5">Resultat de votre recherche</h1>
    <div class="row pt-5">
        {% for serie in series %}
            <div class="col-md-3 col-sm-6 pl-4 pb-5">
                <figure class="card card-body mx-auto">
                    <figcaption><a href="/pageSerie/{{ serie.id }}"><h2 class="card-title text-center">{{ serie.title | title }}</h2></a></figcaption>
                    {% if serie.link_picture is null %}
                        <img class="img-fluid" src="assets/upload/defaultPicture.png"/>
                    {% else %}
                        <img class="img-fluid" src="assets/upload/{{ serie.link_picture }}"/>
                    {% endif %}
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock content %}